html,
body {
    background: lightgray;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

#container {
    background: #fff;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 600px;
}

.copy,
.text {
    font-family: sans-serif;
    font-size: 16px;
}

#output {
    bottom: 0;
    max-height: 100%;
    margin-bottom: 80px;
    overflow: scroll;
    padding: 0 10%;
    position: absolute;
    width: 80%;
}

#output .text {
    position: relative;
}

#input {
    bottom: 0;
    position: absolute;
    width: 100%;
}

.copy {
    display: inline-block;
    height: 50px;
    width: 84%;
}

#submit {
    background: lightgreen;
    border: 1px solid #000;
    display: inline-block;
    font-family: monospace;
    height: 56px;
    margin: 0 auto;
    position: relative;
    vertical-align: top;
    width: 14%;
}

#submit:active {
    background: darkgreen;
    color: #fff;
}

.exchange {
    bottom: 100%;
    display: inline-block;
    vertical-align: top;
}

.cash-menu {
    height: 20px;
}

.look-for {
    background: lightgray;
    display: block;
    float: left;
    height: 20px;
    margin-right: 16px;
    width: auto;
}

.look-for button {
    vertical-align: top;
}

.look-for ul {
    background: blanchedalmond;
    bottom: 67px;
    display: none;
    left: -33px;
    list-style-type: none;
    margin-left: 33px;
    padding: 0;
    position: absolute;
    z-index: 1;
}

.look-for ul.show {
    display: block;
}

.cash-node {
    background: lightgreen;
    font-weight: bold;
}